# Import Libaries

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
%matplotlib inline

# Loading Dataset
###### The dataset provided is composed of 35887 examples.
###### The data consists of 48x48 pixel grayscale images of faces. The faces have been automatically registered so that the face is more or less centered and occupies about the same amount of space in each image. The task is to categorize each face based on the emotion shown in the facial expression in to one of seven categories (0=Angry, 1=Disgust, 2=Fear, 3=Happy, 4=Sad, 5=Surprise, 6=Neutral).

In [41]:
df_icml = pd.read_csv("/content/drive/MyDrive/challenges-in-representation-learning-facial-expression-recognition-challenge/icml_face_data.csv",sep=",")
df_icml.rename(columns = {' Usage':'usage'}, inplace = True)
df_icml.rename(columns = {' pixels':'pixels'}, inplace = True)
display(df_icml)

       emotion        usage                                             pixels
0            0     Training  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1            0     Training  151 150 147 155 148 133 111 140 170 174 182 15...
2            2     Training  231 212 156 164 174 138 161 173 182 200 106 38...
3            4     Training  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4            6     Training  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...
...        ...          ...                                                ...
35882        6  PrivateTest  50 36 17 22 23 29 33 39 34 37 37 37 39 43 48 5...
35883        3  PrivateTest  178 174 172 173 181 188 191 194 196 199 200 20...
35884        0  PrivateTest  17 17 16 23 28 22 19 17 25 26 20 24 31 19 27 9...
35885        3  PrivateTest  30 28 28 29 31 30 42 68 79 81 77 67 67 71 63 6...
35886        2  PrivateTest  19 13 14 12 13 16 21 33 50 57 71 84 97 108 122...

[35887 rows x 3 columns]

In [36]:
df_icml["usage"].unique()

array(['Training', 'PublicTest', 'PrivateTest'], dtype=object)

In [38]:
df_train = df_icml.loc[df_icml['usage'].isin(['Training'])]
print(df_train.shape)
df_val =  df_icml.loc[df_icml['usage'].isin(['PrivateTest'])]
print(df_val.shape)
df_test =  df_icml.loc[df_icml['usage'].isin(['PublicTest'])]
print(df_test.shape)

(28709, 3)
(3589, 3)
(3589, 3)

# Exploratory Data Analysis